@import "./reset.css";

.header {
    padding-top: 46px;
    background-color: #fff;
}

.container {
    color: black;
    background-color: #FFF;
    
}

.button {
    
    transition: background-color 0.2s ease-in, top 0.2s ease-in;
}

.button:active {
    position: relative;
    top: 1px;
    background-color: rgb(121, 77, 77);
}
